//Resert  slick slider css
.slick-prev:before,
.slick-next:before {
  font-family: none !important;
  color: #959595 !important;
}

.slick-prev,
.slick-next {
  border: 2px solid #d7d7d7 !important;
  color: #959595 !important;
  background: #fff !important;
  top: 50% !important;

  &:hover {
    background: transparent !important;
  }
}
.slick-prev {
  height: 40px !important;
  width: 40px !important;
  left: -20px !important;
  z-index: 2;
}
.slick-next {
  height: 40px !important;
  width: 40px !important;
  right: -10px !important;
}

.slick-disabled {
  display: none !important;
}
// -----------------

//  class chung
.section-share {
  margin-top: 50px;

  &.section-specialty {
    background-color: #f5f5f5;
  }

  &.section-outstanding-doctor {
    background-color: #f5f5f5;
    padding-bottom: 15px;
  }

  &.section-medical-facility {
    img {
      height: 150px;
      width: 278px;
    }
  }

  &.section-about {
    padding: 0 150px 100px 150px;

    .section-about-content {
      display: flex;
      justify-content: space-between;

      .content-left {
        width: 50%;
      }
      .content-right {
        width: 50%;

        p {
          font-size: 15px;
          text-align: justify;
        }
      }
    }

    .section-about {
      font-size: 1.5em;
      font-weight: 500;
      padding: 20px 0;
    }
  }

  .section-container {
    padding: 0 150px;
    display: flex;
    flex-direction: column;

    .section-header {
      display: flex;
      justify-content: space-between;
      padding: 20px 0;
      h3 {
        font-weight: 500;
      }

      button {
        background-color: #ebebeb;
        color: #282e41;
        padding: 10px 15px;
        text-transform: uppercase;
        border: none;

        &:hover {
          cursor: pointer;
          color: #fff;
          background: #f7d800;
        }
      }
    }

    .section-body {
      padding-bottom: 15px;
    }

    .section-customize {
      height: 100%;
      width: 70%;
      cursor: pointer;

      .desc {
        padding: 5px 0;
      }

      &:hover .desc {
        color: #45c3d2;
      }

      .img-section-outstanding-doctor {
        width: 120px;
        height: 120px;
        margin: 0 auto;

        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }
      }

      &.boder-outstanding-doctor {
        width: 95% !important;
        border: 1px solid #ccc;
        padding: 20px;
      }

      &.section-handbook {
        display: flex !important;

        .desc-handbook {
          font-size: 1.3em;
          margin-left: 15px;
          font-weight: 400;
          text-align: justify;
          padding-right: 15px;
        }
      }
    }
  }
}

.home-footer {
  padding: 0 150px;
  background-color: #f5f5f5;
  // display: flex;

  .introduce {
    padding: 20px;
    .logo {
      width: 200px;
      height: 44px;

      img {
        width: 100%;
        height: 100%;
      }
    }
    .general-introduction {
      padding-top: 15px;

      span {
        font-weight: 600;
        font-size: 16px;
      }
      .address {
        padding-top: 15px;
      }
    }
  }

  .information {
    padding: 20px;

    ul > li {
      padding: 6px 0;
      list-style: none;
      a {
        color: #45c3d2 !important;
        text-decoration: none;
      }
    }
  }

  .support {
    padding: 20px;

    .support-address {
      padding-bottom: 5px;

      span {
        font-weight: 600;
        font-size: 15px;
      }
      .phonenumber {
        color: #45c3d2;
      }
    }
  }
  .end-footer {
    text-align: center;
    padding-bottom: 10px;
  }
}
