.doctor-detail-container {
  height: 500px;

  .intro-doctor {
    display: flex;
    margin: 30px 150px;
    .content-left {
      width: 20%;
      background: center center no-repeat;
      width: 120px;
      height: 120px;
      margin: 10px 40px;
      border-radius: 50%;
    }
    .content-right {
      width: 85%;
      display: flex;
      flex-direction: column;
      padding: 0 30px;

      .up {
        font-size: 20px;
        font-weight: 600;
        padding-top: 20px;
      }
      .down {
        padding-top: 10px;
      }
    }
  }

  .detail-infor-doctor {
    padding: 20px 175px;
    background-color: #f9f9f9;
    border-bottom: 1px solid #ccc;
    h3 {
      font-size: 17px;
    }
    img {
      width: 100%;
    }
  }
  .comment-doctor {
    height: 50px;
  }
}
